name: Build Firmware

on:
  push:
    branches:
      - main

jobs:
  build_firmware:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Download mklfs
        run: |
          wget https://github.com/xingrz/mklfs/releases/download/v1.0.0/mklfs-linux.tar.xz
          tar -xf mklfs-linux.tar.xz
          chmod +x mklfs
      - name: Create filesystem
        run: |
          ./mklfs ./infinitrackStation filesystem.bin 0x200000
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Install esptool
        run: pip install esptool
      - name: Download MicroPython firmware
        run: wget https://micropython.org/resources/firmware/esp32-20220618-v1.19.1.bin
      - name: Combine firmware and filesystem
        run: python -m esptool --chip esp32 merge_bin -o infinitrack.bin --flash_size 4MB 0x1000 esp32-20220618-v1.19.1.bin 0x200000 filesystem.bin
      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: InfiniTrack-Firmware
          path: infinitrack.bin
